/*main.scss*/
@import 'compass/utilities';
@import 'compass/reset';
@import "_import/mixins.scss";
@import "_import/status-display.scss";
//@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@charset "utf-8";

//global vars
$breakpoint_sp: 480px;
$page_minHeight: 670px;
$page_minHeight_sp: 510px;
$breakpoint_height: 740px;
$widthMax: 890px;
$topNavHeight: 72px;
$pageNum: 3;

$z_topLayer: 10; //z-index用：最上位レイヤー

$bgMainColor: #2ea44d;

html,body{
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝","MS PMincho","MS 明朝",Helvetica,Arial;
  height: 100% !important;
  //height: 870px !important;
  width: 100%;
  @media screen and (max-width: $breakpoint_sp){
    min-width: 100%;
  }
}

.veil{
    position: fixed;
    top:0;
    left:0;
    background: white;
    height: 100% !important;
    width: 100%;
    z-index:1000;
}

#wrapper{
    width: 100%;
    height: 100% * $pageNum;
    min-height: $page_minHeight * $pageNum; //最小表示範囲の確保
    position: relative;
    overflow: hidden;
    background: $bgMainColor;
}
.container{
  max-width: $widthMax;

}
.page{
    text-align: center;
    padding-top: $topNavHeight; //top-nav用と被らないよう
    height: 100% / $pageNum;
    min-height: $page_minHeight;
    margin: 0 auto;

    @media screen and (max-width: $breakpoint_sp){
        min-height: $page_minHeight_sp;
    }
}

.page-topic{
    @include font-size(70);
    //padding: 10px 0;
    text-align: right;
    letter-spacing: 0.2em;
    color: white;
    background: lighten($bgMainColor, 10%);
    @include mediaMax($breakpoint_sp){
      @include font-size(30);
      letter-spacing: 0.1em;
    };
}

.page_main{
    @include font-size(16);
    padding: 10px 0;
}

#topNav{
    $liHeight: 30px;
    $logoAreaWidth: 50px;

    opacity: 1;
    @include stableLinkColor(white);

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background: $bgMainColor;
    //min-height: $liHeight+4;
    box-sizing: border-box;
    padding: 0;
    transition: all 0.3s ease;

    &:hover{
      // opacity: 1;
    }

    .topNav_wrapper{
        @include clearfix();

        // width: 100%;
        max-width: $widthMax;
        margin: 0 auto;
        overflow: hidden;
        padding: 4px;
    }
    .siteLogo{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        //height: $liHeight;
        img{
            height: $liHeight;
        }
    }

    ul.topNavLink{
        $liWidth: 33.333333%;

        display: table-cell;
        vertical-align: middle;
        //position: absolute;
        //left: 20%;
        overflow: hidden;

        li.topNavLink__element{
            float: left;
            background: #0080c0;
            box-sizing: border-block;
            width: $liWidth;
            height: $liHeight;

            @include font-size(18);
            letter-spacing: 0.2em;
            line-height: $liHeight;
            text-align: center;
            //display: table-cell;
            //vertical-align: middle;
            color: white;

            transition: all 0.2s ease;

            &:hover{
                background: #8080ff;
                cursor: pointer;
            }
            @media screen and (max-width: $breakpoint_sp){
                @include font-size(14);
                letter-spacing: 0.1em;
            }
        }
    }

    .siteTitle{
        width: 100%;
        display: table-cell;
        text-align: right;
        vertical-align: middle;

        h1{
            @include font-size(24);
            color: #c1ffc8;
        }

        @media screen and (max-width: $breakpoint_sp){
            display: none;
        }
    }

}

#page1{
    background: gray;
    background-image: url('../images/workExp_starCreation.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    transition: all 0.3s ease;

    .filter{
      opacity: 0.6;
      background-color: white;
      position: absolute;
      top: 0;left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .page1__main{
      position: relative;
      z-index: 2;
    }
}

//owl carousel work display
#works-carousel{
    $magnification: 1.3;
    $itemHeight: 280px;
    // $itemHeight_sp: 270px;
    $itemWidth: 250px;
    $offset: $itemHeight*($magnification - 1);

    .owl-wrapper-outer{ //automatically generated
        //max-height: $itemHeight * $magnification; //itemサイズに気をつければ不要？
        background: rgba(97, 205, 121, 0.7);
    }
    .owl-wrapper{
        margin: $offset/2 auto; //拡大した時の領域を確保
        position: relative;
    }
    .owl-buttons{
      div{
        @include font-size(20);
      }
    }
    .owl-item{
        //transition: all 0.3s ease;
        //border: solid 5px #926d6d;//temp
        &.focus{
            //transform: scale(1.5,1.5);
            //border: solid 5px #c15b3e;//temp
            //background: #0080ff; //temp
            position: relative;
            z-index: 2;
        }
    }

    .carousel-item{
        opacity: 0.6;
        background: #3fbf79;
        //padding: 10px 0px;
        margin: 0 auto;
        color: #FFF;
        border-radius: 4px;
        text-align: center;
        max-height: $itemHeight * 0.9; //scaleで拡大時のサイズとは異なる
        max-width: $itemWidth;
        //min-height: 100%;
        transition: all 0.2s ease;
        z-index: 1;
        overflow: hidden;
        img{
            //max-width: 90%;
            width: 100%;
            max-height: $itemHeight;
        }

        @media screen and (max-width: $breakpoint_sp){
            //width: 75%;
            //font-size: 0.5em;
            position: relative;
        }
        &.dummy{
            //background: #40bfbf;
            padding: 1px; //表示するのに必要？
            visibility: hidden;
        }
        &.focus{
            opacity: 1;
            transform: scale($magnification, $magnification);
            border: solid 3px #008080;//temp
            //box-shadow:
        }
    }
}

#works-status{
    position: relative;
    .status-box{
        width: 70%;
        margin: 10px auto;
        /*border: solid 1px #328559;*/
        background: #3fbf79;
        border-radius: 2px;
        @include font-size(20);

        // .statusDisplay-label{
        //     //font-size: 1.2rem;
        //     color: #ceffaa;
        //     font-weight: bold;
        //     padding: 10px;
        //     &:first-child{
        //         // padding-top: 10px;
        //     }
        // }
        // .statusDisplay-value{
        //     color: #d6fcf2;
        // }
        //
        .statusDisplay-value--tag{
            @include font-size(16);
            @media screen and (max-width: $breakpoint_sp){
                @include font-size(13);
            }
        }

        @media screen and (max-width: $breakpoint_sp){
            width: 96%;
            @include font-size(14);
            //font-size: 0.5em;
            position: relative;
        }
    }
}

#page2{
    /*@include clearfix;*/
    .page2__main{
        // display: table;
        // margin: 10px auto;

        ul.hexes{
          margin-top: 10%;
          // background:;
          // display: table;
          // @include clearfix();
          li{
            // display: table-cell;
            display: inline-block;
            margin: 0 18px;

            &:first-child{
              display: block;
              width: 100%;
              margin: 0;
            }
          }

          @include mediaMax($breakpoint_sp){
            margin-top: 8%;
          }
        }
        .hex{
          $hex_rad: 110px;
          $hex_rad_sp: $hex_rad*0.7;
          $hex_color:#64c7cc;
          $hex_color_hover:lighten(#64c7cc,20%);
          @include build-hexagon($hex_rad,$hex_color,$hex_color_hover);
          @include font-size(20);
          line-height: $hex_rad*0.8;
          // display: table-cell;
          display: inline-block;
          text-align: center;
          // float:left;
          // vertical-align: middle; floatによって効かなくなる？
          // margin-right: $hex_rad/2; //上下marginは着けないこと
          &:last-child{
            // margin-right: 0;
          }
          &:hover{
            cursor: pointer;
          }
          @include mediaMax($breakpoint_sp){
            @include build-hexagon($hex_rad_sp,$hex_color,$hex_color_hover);
            @include font-size(15);
            line-height: $hex_rad_sp*0.8;
            // margin-right: $hex_rad_sp*0.5;

          }
        }
        .caption{
          @include font-size(18);
          color: $bgMainColor;
          margin: 20px auto 0;
          padding: 0.2em;
          max-width: 400px;

          // background: rgb(198, 233, 182);
          background: rgb(215, 255, 250);
          border-radius: 3px;
          &:before{
          }
        }

        .details{
            $_width: 90%;
            $_height: 80%;
            $bgColor: rgb(214, 194, 96);

            @include font-size(18);
            width: $_width;
            height: $_height;
            position: fixed;
            top: $topNavHeight*1.5;
            left: 50%;
            margin-left: - $_width / 2; //centerize
            background: $bgColor;
            cursor: pointer;
            z-index: $z_topLayer;
            overflow: auto;

            transition: all 0.2s ease;
            // display: none;

            .details__header{
                @include font-size(32);
                color: white;
                padding: 1em;
                background: rgba(168, 161, 71, 0.93);
            }

            ul.details__contents{
                li{
                    color: rgb(62, 52, 14);
                }
                .even{
                    background: rgb(227, 215, 153);

                }
            }

            .details__content__title{
                @include font-size(23);
                margin: 0 auto;
                width: 70%;
                padding: 5px;
                border: solid rgba(176, 175, 77, 0.93);
                border-width: 0 0 2px 0;
            }
            .details__content__main{
                padding: .8em 0;
                margin-bottom: .5em;
            }
            .details__url{
                margin: 10px;
            }
            &.show{
                z-index: 100;
                display: block;
            }

            .clip{
                $size: 60px;

                width: $size/2;
                height: $size;
                background: #615725;
                position: absolute;
                top:-$size/2;
                right: $size/2;
            }

            @include mediaMax($breakpoint_sp){
                @include font-size(14);
            };

            .closer{
                @include font-size(15);
                position: absolute;
                border: solid 1px white;
                cursor: pointer;
                top: 2px;
                left: 2px;
            }

        }

        // .page2__left{
        //     display: table-cell;
        //     width: 50%;
        //     .page2__left-content{
        //         margin-right: 10px;
        //
        //         h3.profile-title{
        //             @include font-size(30);
        //             background: #c1ffc1;
        //
        //         }
        //     }
        // }
        // .page2__right{
        //     display: table-cell;
        //     width: 50%;
        //     background: "#c3edde";
        //     .page2__left-content{
        //         padding: 6px;
        //     }
        // }

    }
}

#page3{
    $height_top: 36%;
    background: white;
    // background: $bgMainColor;
    .page3__topArea{
        background: url('../images/contactBg.png');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;

        //height: 414px;
        height: $height_top;
        text-align: center;
        overflow: hidden;
        color: hsl(120, 100%, 50%);
        font-family: Helvetica, Arial, sans-serif;
        position: relative;

        @media screen and (max-width: 780px){
            background-size: contain;
        }
        .page3__title{
            @include font-size(64);
            margin: 30px 0 40px;
        }
        .page3__description{
            @include font-size(14);
        }

        canvas#game{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .contact-wrapper{
        @include clearfix();
        width: 100%;
        background: $bgMainColor;
        padding: 12px;
        padding-top: 80px;
        height: 100% - $height_top;

        .contact__main{
            display: table;
        }

        .contact__left{
            display: table-cell;
            width: 45%;
            // background: #8080c0;
            // float:left;
            .mail-image{
                margin: 10px auto;
                img{
                  max-width: 90%;
                }
            };

            @include mediaMax($breakpoint_sp){
                display: none;
            };
        }

        .contact__right{
          display: table-cell;
          vertical-align: top;
          width: 55%;
          height: 100%;
          padding: 6px;

          .contact__right__content{
            color: white;
            text-align: center;
            background: #52c99f;

            h3{
              @include font-size(35);
              padding: 12px 0;
              @include mediaMax($breakpoint_sp){
                @include font-size(30);
              };
            }
            ul.page3__contact-info{
              @include font-size(18);
              padding: 0.5em;
              padding-top: 0;
              li{
                margin: 10px 0;
              }
            }
          }

          @include mediaMax($breakpoint_sp){
            width: 100%;
          };
        }
    }

}

#indicator-wrapper{
    $transTime: 0.2s;
    $circleColor: #5fde6b;
    $circleSize: 30px;

    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 50px;
    //background: #004040;
    opacity: 0.7;
    font-size: 20px;
    transition: all 0.3s ease-out;

    @media screen and (max-height: $breakpoint_height){
        // opacity: 0;
        display: none;
    }

    .indicator-track{
        width: 30%;
        height: 100%;
        position: relative;
        margin: 0 auto;
        border: solid 1px #00ff80;
        //background: #ffff80;
        //padding: 1rem;

        .indicator-element{
            float: left;
            width: 100% / $pageNum;
            //height: 30px;
            text-align: center;
            box-sizing: border-box;
            &:last-child{
                padding-right: 0;
            }
            .circle{
                width: $circleSize;
                height: $circleSize;
                border-radius: 50%;
                background: $circleColor;
                margin: 5% auto;
                /*display: inline-block;*/
            }
        }
        @media screen and (max-width: 780px){
            width: 75%;
            //font-size: 0.75em;
        }
        @media screen and (max-width: $breakpoint_sp){
            width: 90%;
            //font-size: 0.5em;
            position: relative;
        }
    }

    #indicator-ship{
        position: absolute;
        top: 0;
        z-index: 999;
        transition: all 0.3s ease-out;

        img{
            width: 45px;
            height: 45px;
        }
    }
}
