//mixins
@mixin font-size($size, $base: 16) {
    font-size: $size + px; // for legacy browsers
    font-size: ($size / $base) * 1rem;
}
@mixin abs-top-left ($top: 0, $left: 0) {
    position: absolute;
    top: $top + px;
    left: $left + px;
}
@mixin abs-top-right ($top: 0, $right: 0) {
    position: absolute;
    top: $top + px;
    right: $right + px;
}
@mixin gradient-top-lighten($color:#E8E8E8, $lighten:7%){
    background-color: $color; // for legacy IE
    @include background-image(linear-gradient(lighten($color, $lighten) 0%, $color 100%));
}

@mixin stableLinkColor($color: black){
  a{
    &:link { color: $color; text-decoration:none;}
    &:visited { color: $color; text-decoration:none; }
    &:hover { color: $color; text-decoration:none; }
    &:active { color: $color; text-decoration:none; }
  }
}

@mixin opacity($value: 1.0) {
	filter: Alpha(Opacity= $value * 100);/*lt IE8 fix*/
  opacity: $value;
}

@mixin mediaMax($breakpoint: 480px){
    @media screen and (max-width: $breakpoint){
        @content;
    }
}

/*
 *  hexagon
 *  http://csshexagon.com/
 *  http://blog.blakesimpson.co.uk/read/73-css-hexagon-an-easy-less-mixin
//usage example
.hex{
    @include build-hexagon();
    &.blue{
        @include hexagon-color(blue);
    }
}
*/
@mixin build-hexagon($radius: 300px, $color: #64c7cc, $hoverColor: #64c7cc){
    $mainWidth: $radius * 1.72; // radius/2 * sqrt(3) * 2
    $_height: $radius *0.8; //正六角形ではなく、すこしつぶす
    $margin: $radius * 0.5;

    position: relative;
    width: $mainWidth;
    height: $_height;
    background-color: $color;
    margin: $margin 0; //86.60px 0; //$radius / 4;

    //text
    color: white;
    text-align: center;

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: $mainWidth/2 solid transparent; //150px
        border-right: $mainWidth/2 solid transparent;
        //custom
        left: 0;
    }

    &:before {
        bottom: 100%;
        border-bottom: $margin solid $color;
    }

    &:after {
        top: 100%;
        width: 0;
        border-top: $margin solid $color;
    }

    &:hover{
        background-color: $hoverColor;
        //color: inverse;
        &:before {
            border-bottom-color: $hoverColor;
        }

        &:after {
            border-top-color:$hoverColor;
        }
    }

    //@include hexagon-color(); //色チェンジ
}

@mixin hexagon-color($color: #64C7CC){
    background-color: $color;

    &:before {
        border-bottom-color: $color;
    }
    &:after {
        border-top-color: $color;
    }
}
