.statusDisplay-label{
    color: #ceffaa;
    font-weight: bold;
    padding: 10px;
}
.statusDisplay-value{
    color: #d6fcf2;
}

.statusDisplay-value--tag{
    background: #50eb14;
    margin: 0 2px;
    border-radius: 2px;
    padding: 3px;
    font-size: 0.9rem;
}
