extends ./_include/_layout

block vars
    -var topics = ['WORKS', 'SKILL', 'CONTACT'];
    -var name = "Masaki Yamashita / masatatu";
    -var email = "yfa47871(a)nifty.com";
    -var mainURL = "http://pentamania.web.fc2.com/";

block css
    link(rel='stylesheet' href="./assets/css/lib.css")
    link(rel='stylesheet' href="./assets/css/main.css")

block scripts
    script(src="./assets/js/lib.js")
    script(src="./assets/js/main.js")

block topNav
    nav#topNav
        div.topNav_wrapper
            div.siteTitle
                h1 Portfolio的な
            .row
            div.siteLogo.col-sm-2.col-xs-2
                img(src="./assets/images/logo.png")
            ul.topNavLink.col-sm-10.col-xs-10
                each val in topics
                    li.topNavLink__element #{val}

block content
    div#page1.page
      .page1__main.container
        h2.page-topic #{topics[0]}
        #works-carousel
        #works-status
            ul.status-box
      .filter
            
    div#page2.page(ng-controller="ExhibitCtrl")
      .page2__main.container
        h2.page-topic #{topics[1]}
        ul.hexes
          li(ng-repeat='t in tabs' ng-click="showActiveDetail(t)")
            .hex {{t.label}}
        //- ul.hexes
        //-   li
        //-     .hex DES
        //-   li
        //-     .hex CAN
        //-     .hex FRONT
        p.caption ボタンクリックで詳細表示
        
        //- .details.animated(ng-repeat='(i, t) in tabs' ng-hide="!t.isActive" ng-class="{bounceInUp: t.isActive, bounceOutUp: !t.isActive}" ng-click="t.isActive=!t.isActive")
        //- div(ng-repeat='(i, t) in tabs' detail="t")
        div(ng-repeat='(i, t) in tabs')
        //- span(detail="t")
        .details.animated(ng-repeat='(i, t) in tabs' ng-class="{bounceInUp: t.isActive, bounceOutUp: !t.isActive}" ng-click="t.isActive=!t.isActive")
          .clip
          h4.details__header {{t.label}}
          ul.details__contents
            //- ng-repeatをネストしたい場合はインライン要素のみ?
            li(ng-repeat='(key, value) in t.contents' ng-class-even="'even'")
              .details__content__title {{key}}
              .details__content__main {{value}}
          
          .details__url 参考URL: 
            a(href='{{t.refurl}}') {{t.refurl}}
            
          .closer(ng-click="t.isActive=!t.isActive") クリックで閉じます
      
    //- div#page2.page
    //-     h2.page-topic #{topics[1]}
    //-     .page2__main
    //-         .page2__left
    //-             h3.page2__sub-topic Who am I??
    //-             .profile-imageAraa
    //-                 img(src="./assets/images/myImage.png")
    //-             div.profile
    //-         .page2__right
    //-             h3.page2__sub-topic 知ってる技術とか
             
             
    div#page3.page
        .page3__topArea 
            h3.page3__title OWARI
            p.page3__description Thank you for watching!
            canvas#game
        block contact
            .contact-wrapper
              .contact__main.container
                .contact__left
                    .mail-image
                        img(src='./assets/images/mail.png' alt="メール")
                
                .contact__right
                    .contact__right__content
                        h3 #{topics[2]}
                        ul.page3__contact-info
                            li Name: #{name}
                            li E-mail: 
                                a(href='mailto:#{email}') #{email}
                            //- li Main HP: 
                            //-   a(href='#{mainURL}') #{mainURL}
        .bottom
          .backToTop
            img(src="./images/goToTop.png" alt="トップに戻る")

block indicatorPlane
    div#indicator-wrapper
        ul.indicator-track
            each val, index in topics
                li.indicator-element
                    div.circle
                    h3.indicator-topic #{val}
        #indicator-ship
            img(src='./assets/images/plane.png')
