- var TITLE = "Masatatu Port-folio";

doctype html
block vars
html(lang="ja" ng-app="myApp")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
        title= TITLE
        block css
    body
        .veil
        #wrapper
            block topNav
            block content
            block indicatorPlane
        block scripts
